/*--------------------------------------------------------------------------------*/
/*                                 IMPORTS & DEFAULTS                             */
/*--------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/*--------------------------------------------------------------------------------*/
/*                                  GENERAL STYLES                                */
/*--------------------------------------------------------------------------------*/
body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.container {
    display: flex;
}

/*--------------------------------------------------------------------------------*/
/*                                 SIDEBAR & NAV                                  */
/*--------------------------------------------------------------------------------*/
.sidebar {
    width: 150px;
    background-color: #ffffff;
    border-right: 0.5px solid #000000;
    padding: 20px;
    text-align: center;
    height: 100vh;
    position: fixed;
}

.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 20px auto 0 auto; /* Center the menu horizontally */
    width: fit-content; /* Allow the menu to shrink to content width */
}

.menu li {
    margin-bottom: 5px;
}

.menu a {
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
    display: block;
    transition: font-size 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.menu a:hover {
    font-weight: bold;
}

.active-link {
    text-decoration: underline;
}

.welcome-message {
    color: #62d840;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item {
    opacity: 0;
    transform: translateY(10px);
}

/*--------------------------------------------------------------------------------*/
/*                                  MAIN CONTENT                                  */
/*--------------------------------------------------------------------------------*/
main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 170px;
}

/*-------------------------------------- TRANSPARENT BACKGROUND IMAGE ------------------------------------------*/
.background-image {
    background-image: url('images/bloglogo2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60% center;
    background-size: 50%;
    opacity: 0.3;
    top: 0;
    left: 170px; /* sidebar width */
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

/*--------------------------------------------------------------------------------*/
/*                                 POPUP & MODAL                                  */
/*--------------------------------------------------------------------------------*/
.post-form-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.post-form-popup.visible {
    opacity: 1;
    display: block;
}

.post-form-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 0.5px solid #888;
    border-radius: 12px;
    width: 80%;
    max-width: 700px;
    position: relative;
    transform: translateY(-50px);
    transition: transform 0.3s ease-in-out;
}

.post-form-popup.visible .post-form-content {
    transform: translateY(0);
}

.search-popup-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 25% auto; /* Adjusted vertical position */
    max-width: 400px; /* Adjusted width */
}

.search-popup-content .close-button {
    display: none; /* Hide close button for search popup */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#image-popup {
    display: none;
    position: fixed;
    z-index: 2; /* Higher z-index to appear above other popups */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); /* Darker background */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

#image-popup.visible {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-popup-content {
    max-width: 90%;
    max-height: 90%;
}

#image-popup .close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/*--------------------------------------------------------------------------------*/
/*                                  FORM STYLES                                   */
/*--------------------------------------------------------------------------------*/
.post-form form,
.search-form-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.post-form input,
.post-form textarea,
.search-form-section input {
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    border: 0.5px solid #000000;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.search-form-section input {
    font-size: 24px; /* Larger font for search input */
    padding: 20px;
    border: 1px solid #000000; /* More prominent border */
    text-align: center;
}

.search-form-section button {
    display: none; /* Hide search button, as per Spotlight style */
}

.post-form textarea {
    min-height: 300px;
}

.post-form button {
    padding: 10px 15px;
    border-radius: 8px;
    border: 0.5px solid #62d840;
    background-color: #62d840;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

/*--------------------------------------------------------------------------------*/
/*                                  POST STYLES                                   */
/*--------------------------------------------------------------------------------*/
.posts {
    max-width: 800px;
    margin: 0 auto;
}

.posts .post {
    background-color: #ffffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 0.5px solid #000000;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.posts .post.visible {
    opacity: 1;
    transform: translateY(0);
}

.posts .post h2 {
    color: #62d840;
    margin-top: 0;
    font-size: 18px;
    font-weight: 400; /* Thinner font weight */
}

.posts .post-content {
    color: #333333;
    line-height: 1.6;
    font-size: 14px;
    padding: 10px;
}

.posts .post-content .inserted-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    border: 0.5px solid #ccc;
}

.post-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    border: 0.5px solid #ccc;
    cursor: pointer;
}

/*--------------------------------------------------------------------------------*/
/*                                  HELPER CLASSES                                */
/*--------------------------------------------------------------------------------*/
.highlight {
    color: #62d840;
    font-weight: bold;
}

/*--------------------------------------------------------------------------------*/
/*                                 DROPZONE STYLES                                */
/*--------------------------------------------------------------------------------*/
.dropzone-section {
    margin-top: 15px; /* Adjusted margin for inside popup */
    text-align: center;
    padding-bottom: 10px;
    border: 0.5px solid #000000;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
}

.dropzone-section h2 {
    color: #62d840;
    margin-top: 0;
    font-size: 16px;
}

#drop-zone {
    border: 1px dashed #62d840;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#drop-zone.dragover {
    background-color: #e0e0e0;
    border-color: #62d840;
}

.post {
    position: relative;
}

.edit-post-link, .delete-post-link {
    display: none;
    position: absolute;
    text-decoration: none;
    color: #62d840;
    font-size: 0.8em;
}

.post:hover .edit-post-link, .post:hover .delete-post-link {
    display: block;
}

.edit-post-link {
    bottom: 10px;
    left: 10px;
}

.delete-post-link {
    top: 10px;
    right: 10px;
}

.post-image-preview {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    border: 0.5px solid #ccc;
}

.color-navigation-container {
    display: flex;
    gap: 5px;
}

.color-nav-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative; /* Needed for absolute positioning of tooltip */
}

.color-nav-box:hover {
    transform: scale(1.1);
}

.color-nav-box .tooltip-text {
    visibility: hidden;
    width: 80px; /* Adjust as needed */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the color box */
    left: 50%;
    margin-left: -40px; /* Half of width */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.color-nav-box .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.color-nav-box:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.color-nav-box.red { background-color: red; }
.color-nav-box.blue { background-color: blue; }
.color-nav-box.orange { background-color: orange; }
.color-nav-box.olive-green { background-color: olive; }

.bottom-right-controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.color-tags {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.color-box {
    width: 10px;
    height: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.color-box.red { background-color: red; }
.color-box.blue { background-color: blue; }
.color-box.orange { background-color: orange; }
.color-box.olive-green { background-color: olive; }

#new-post-bottom-right-link {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #62d840;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#new-post-bottom-right-link:hover {
    background-color: #4CAF50;
}